:root {
  --site-grid-column-count: 8;
  --site-grid-layout: 0 repeat(var(--site-grid-column-count), minmax(0, 1fr)) 0;
  --site-grid-full-width-start: 1;
  --site-grid-full-width-end: -1;
  --site-grid-gutter-left-start: 2;
  --site-grid-gutter-left-end: 4;
  --site-grid-content-start: 4;
  --site-grid-content-end: -3;
  --site-grid-gutter-right-start: -2;
  --site-grid-gutter-right-end: -2;
  --site-padding: clamp(0.5rem, 0.3rem + 0.8vw, 1rem);
  --section-padding: min(5rem, 7svh);
  --content-gap: clamp(0.5rem, 0.3rem + 0.8vw, 1rem);
  --p-max-width: 65ch;
  --nav-min-height: 5rem;
  /* colours */
  --neutral-rgb-1: 251, 251, 251;
  --neutral-rgb-2: 245, 245, 245;
  --neutral-rgb-3: 235, 235, 235;
  --neutral-rgb-4: 208, 208, 208;
  --neutral-rgb-5: 157, 157, 157;
  --neutral-rgb-7: 99, 99, 99;
  --neutral-rgb-8: 60, 60, 60;
  --neutral-rgb-9: 23, 23, 23;
  --bg-default: rgb(141 221 200);
  --bg-alt: rgb(173 230 215);
  --bg-reverse: rgb(var(--neutral-rgb-9));
  --bg-reverse-alt: rgb(var(--neutral-rgb-7));
  --bg-footer: var(--bg-alt);
  --bg-button: rgb(255 223 168);
  --bg-error: rgb(255, 191, 191);
  --text-body: rgb(19 99 78);
  --text-heading: rgb(0 99 72);
  --text-reverse: rgb(var(--neutral-rgb-1));
  --text-footer: rgb(var(--neutral-rgb-8));
  --text-button: rgb(var(--neutral-rgb-8));
  --text-error: rgb(148, 54, 54);
  --border-bold: rgb(var(--neutral-rgb-1));
  --border-subtle: rgba(var(--neutral-rgb-1), 0.08);
  /* typography */
  --font-body: 'DM Sans', sans-serif;
  --font-heading: 'DM Sans', sans-serif;
  --font-label: 'Chivo Mono', monospace;
  --font-code: 'Chivo Mono', monospace;
  --font-size-site: clamp(14px, calc(11.333px + 0.6667vw), 18px);
  --font-size-body: 1rem;
  --font-size-heading: clamp(0.6rem, 0.28rem + 1.28vw, 1.4rem);
  --font-size-small: 0.8rem;
  --font-size-input: clamp(16px, 1rem, 1rem);
  --typescale-factor: 1.25;
  /* transition */
  --time-snappy: 0.25s;
  --time-slow: 1s;
}

@media screen and (min-width: 1000px) {
  :root {
    --site-grid-column-count: 12;
    --site-grid-full-width-start: 1;
    --site-grid-full-width-end: -1;
    --site-grid-gutter-left-start: 2;
    --site-grid-gutter-left-end: 6;
    --site-grid-content-start: 6;
    --site-grid-content-end: -4;
    --site-grid-gutter-right-start: -4;
    --site-grid-gutter-right-end: -2;
  }
}

/* RESET --- RESET --- RESET --- RESET --- RESET --- RESET --- RESET --- RESET --- RESET */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  color-scheme: dark light;
  hanging-punctuation: first last;
  scroll-behavior: smooth;
}

/* min body height */
body {
  min-height: 100svh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

a {
  text-decoration: unset;
  color: unset;
}

/* TYPOGRAPHY --- TYPOGRAPHY --- TYPOGRAPHY --- TYPOGRAPHY --- TYPOGRAPHY --- TYPOGRAPHY --- TYPOGRAPHY */

html {
  font-size: var(--font-size-site);
}

.body {
  background-color: var(--bg-default);
  color: var(--text-body);
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-optical-sizing: auto;
}

.heading-huge,
.heading-xlarge,
.heading-large,
.heading-medium,
.heading-small,
.heading-xsmall {
  color: var(--text-heading);
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
}

.heading-huge,
.heading-xlarge,
.heading-large {
  font-weight: 500;
  line-height: 1.1;
}

.heading-huge {
  font-size: calc(var(--font-size-heading) * pow(var(--typescale-factor), 8));
}
.heading-xlarge {
  font-size: calc(var(--font-size-heading) * pow(var(--typescale-factor), 6));
}
.heading-large {
  font-size: calc(var(--font-size-heading) * pow(var(--typescale-factor), 5));
}
.heading-medium {
  font-size: calc(var(--font-size-heading) * pow(var(--typescale-factor), 4));
}
.heading-small {
  font-size: calc(var(--font-size-heading) * pow(var(--typescale-factor), 3));
}
.heading-xsmall {
  font-size: calc(var(--font-size-heading) * pow(var(--typescale-factor), 2));
}

:is(
    .heading-huge,
    .heading-xlarge,
    .heading-large,
    .heading-medium,
    .heading-small,
    .heading-xsmall
  ):first-child {
  margin-top: -0.2em;
}

:is(
    .heading-huge,
    .heading-xlarge,
    .heading-large,
    .heading-medium,
    .heading-small,
    .heading-xsmall
  )
  + :is(p, ul, ol, blockquote, img, pre, code):not(.padding-top) {
  padding-top: calc(var(--font-size-body) * 0.5);
}

:is(p, ul, ol, blockquote, img, pre, code)
  + :is(
    .heading-huge,
    .heading-xlarge,
    .heading-large,
    .heading-medium,
    .heading-small,
    .heading-xsmall
  ) {
  padding-top: calc(var(--font-size-heading) * 2.5);
}

.text-label {
  font-family: var(--font-label);
  font-weight: 500;
  font-size: var(--font-size-small, 0.8rem);
  text-transform: uppercase;
  line-height: 1.2;
}

.text-metadata {
  font-family: var(--font-label);
  font-weight: 200;
  font-size: var(--font-size-small, 0.8rem);
  text-transform: uppercase;
  line-height: 1.2;
}

ul,
ol {
  margin-left: calc(1em + var(--content-gap));
}

code {
  font-family: var(--font-code);
  font-size: var(--font-size-small);
  background-color: var(--bg-alt);
  padding: 0.12em;
}

pre {
  font-family: var(--font-code);
  font-size: var(--font-size-small);
  background-color: var(--bg-alt);
  padding-block: var(--content-gap);
}

@media screen and (min-width: 1000px) {
}

/* SPACING SYSTEM --- SPACING SYSTEM --- SPACING SYSTEM --- SPACING SYSTEM --- SPACING SYSTEM --- SPACING SYSTEM */

.padding-xhuge {
  padding: calc(var(--content-gap) * 10);
}
.padding-huge {
  padding: calc(var(--content-gap) * 5);
}
.padding-xxlarge {
  padding: calc(var(--content-gap) * 3);
}
.padding-xlarge {
  padding: calc(var(--content-gap) * 2);
}
.padding-large {
  padding: calc(var(--content-gap) * 1.5);
}
.padding-default {
  padding: calc(var(--content-gap) * 1);
}
.padding-small {
  padding: calc(var(--content-gap) * 0.75);
}
.padding-xsmall {
  padding: calc(var(--content-gap) * 0.5);
}
.padding-xxsmall {
  padding: calc(var(--content-gap) * 0.25);
}

.padding-top {
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.padding-bottom {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}
.padding-left {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

/* SITE STRUCTURE --- SITE STRUCTURE --- SITE STRUCTURE --- SITE STRUCTURE --- SITE STRUCTURE --- SITE STRUCTURE */

.page {
  display: grid;
  grid-template-columns: var(--site-grid-layout);
  column-gap: var(--content-gap);
  grid-template-rows:
    minmax(var(--nav-min-height), max-content)
    auto
    minmax(5rem, max-content);
  height: 100%;
  overflow-x: hidden;
}

.header {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: var(--site-grid-layout);
  column-gap: var(--content-gap);
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
}

.footer {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  grid-row: -2 / -1;
  display: grid;
  grid-template-columns: subgrid;
  background-color: var(--bg-footer);
  color: var(--text-footer);
}

.content {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  grid-row: 1 / -2;
  display: grid;
  grid-template-columns: subgrid;
  height: 100%;
  z-index: 1;
}

.page-grid-wrapper {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  grid-row: 1 / -2;
  display: none;
  grid-template-columns: subgrid;
  z-index: 0;
}

.page-grid-line {
  border-left: 1px solid var(--border-subtle);
  border-right: 1px solid var(--border-subtle);
}

.page-grid-line:first-child {
  border-left: none;
}

.page-grid-line:last-child {
  border-right: none;
}

.page-grid-background {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  grid-row: 1 / -2;
  margin-left: calc(var(--content-gap) / 2);
  margin-right: calc(var(--content-gap) / 2);
  background-image: linear-gradient(
    90deg,
    var(--border-subtle) 0.5px,
    transparent 0.5px,
    transparent calc(100% - 0.5px),
    var(--border-subtle) calc(100% - 0.5px)
  );
  background-size: calc(100% / var(--site-grid-column-count)) 100%;
  z-index: 0;
}

.header > *,
.footer > *,
.content > * {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  display: grid;
  grid-template-columns: subgrid;
}

.section {
  min-height: 100svh;
  grid-template-rows:
    minmax(var(--section-padding), 28.6svh)
    minmax(max-content, auto)
    var(--section-padding);
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
}

.content > .section:first-child {
  grid-template-rows:
    minmax(calc(var(--section-padding) + var(--nav-min-height)), 28.6svh)
    minmax(max-content, auto)
    var(--section-padding);
}

.section-container {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  grid-row: 2 / -2;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: max-content;
  gap: var(--content-gap);
}

.section-container > * {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

/* HEADER --- HEADER --- HEADER --- HEADER --- HEADER --- HEADER --- HEADER --- HEADER --- HEADER */

.site-header {
  font-family: var(--font-label);
  font-weight: 200;
  font-size: var(--font-size-small);
  text-transform: uppercase;
  padding: var(--site-padding);
  z-index: 1;
}

.site-brand {
  grid-column: var(--site-grid-full-width-start) / span 2;
}

.site-brand .logo {
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.site-cta {
  grid-column: span 2 / var(--site-grid-full-width-end);
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
}

.site-cta .site-cta-button {
  display: flex;
  min-width: max-content;
  padding: 0rem 0.5rem;
  background-color: var(--bg-button);
  color: var(--text-button);
  border: none;
  transition: filter var(--time-snappy);
}

.site-cta .site-cta-button:hover {
  filter: invert();
}

.site-nav {
  grid-column: var(--site-grid-content-start) / var(--site-grid-content-end);
  display: grid;
  grid-template-columns: subgrid;
}

.site-nav ul.menu {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  list-style: none;
  margin-left: 0;
  gap: 0;
}

ul.menu li.menu-item a {
  display: inline-block;
  min-width: 5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0;
  box-shadow: inset 1px 0 0 transparent;
  transition: padding-left var(--time-snappy), box-shadow var(--time-snappy);
}

ul.menu li.menu-item a:hover {
  padding-left: var(--content-gap);
  box-shadow: inset var(--content-gap) 0 0 var(--border-bold);
}

/* 
ul.menu li.menu-item:first-child a {
  padding-top: 0;
}

ul.menu li.menu-item:last-child a {
  padding-bottom: 0;
}
  */

@media screen and (min-width: 1000px) {
  .site-nav ul.menu {
    display: grid;
    grid-template-columns: subgrid;
  }
}

/* HEADER-BLUR --- HEADER-BLUR --- HEADER-BLUR --- HEADER-BLUR --- HEADER-BLUR --- HEADER-BLUR */

.header-blur {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  position: absolute;
  top: -20%;
  left: 0;
  right: 0;
  height: 300%;
  max-height: 30svh;
  pointer-events: none;
  /*   background: linear-gradient(
    var(--bg-default) 0%,
    transparent 33%,
    transparent 100%
  ); */
}

.header-blur > div {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  grid-row-start: 1;
}

.header-blur > div:nth-of-type(1) {
  grid-row-end: 1;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  mask: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
}

.header-blur > div:nth-of-type(2) {
  grid-row-end: 2;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  mask: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
}

.header-blur > div:nth-of-type(3) {
  grid-row-end: 3;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  mask: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
}

.header-blur > div:nth-of-type(4) {
  grid-row-end: 4;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  mask: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
}

.header-blur > div:nth-of-type(5) {
  grid-row-end: 5;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  mask: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
}

.header-blur > div:nth-of-type(6) {
  grid-row-end: 6;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  mask: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
}

.header-blur > div:nth-of-type(7) {
  grid-row-end: 7;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  mask: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
}

.header-blur > div:nth-of-type(8) {
  grid-row-end: 8;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  mask: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
}

/* HOME --- HOME --- HOME --- HOME --- HOME --- HOME --- HOME --- HOME --- HOME --- HOME */

section.home-hero {
  min-height: 100svh;
  display: grid;
}

section.home-hero .section-container {
  grid-column: var(--site-grid-content-start) / var(--site-grid-content-end);
}

section.home-hero .scroll-anchor {
  grid-column: var(--site-grid-content-start) / var(--site-grid-content-end);
  grid-row: 3;
  align-self: start;
  hanging-punctuation: none;
}

/* SHOWCASE LIST --- SHOWCASE LIST --- SHOWCASE LIST --- SHOWCASE LIST --- SHOWCASE LIST */

.showcase-list-wrapper {
  display: grid;
  grid-template-columns: subgrid;
}

.showcase-list {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 5rem;
}

.showcase-item {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  display: grid;
  grid-template-columns: subgrid;
}

.showcase-item-layout {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.showcase-item-layout > .showcase-thumbnail {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--text-body);
  background-image: linear-gradient(
    120deg,
    rgba(var(--neutral-rgb-1), 0.2),
    rgba(var(--neutral-rgb-1), 0)
  );
  background-blend-mode: luminosity;
}

.showcase-thumbnail.ratio-9-16 {
  aspect-ratio: 9 / 16;
}

.showcase-thumbnail.ratio-2-3 {
  aspect-ratio: 2 / 3;
}

.showcase-thumbnail.ratio-4-5 {
  aspect-ratio: 4 / 5;
}

.showcase-thumbnail.ratio-1-1 {
  aspect-ratio: 1 / 1;
}

.showcase-thumbnail.ratio-5-4 {
  aspect-ratio: 5 / 4;
}

.showcase-thumbnail.ratio-3-2 {
  aspect-ratio: 3 / 2;
}

.showcase-thumbnail.ratio-16-9 {
  aspect-ratio: 16 / 9;
}

#Showcase-Patina-Photo {
  grid-column: 1 / -1;
}

#Showcase-Mayday-Weddings {
  grid-column: 1 / -1;
}

@media screen and (min-width: 1000px) {
  #Showcase-Patina-Photo {
    grid-column: 2 / span 6;
  }

  #Showcase-Knowie {
    grid-column: 10 / span 3;
  }

  #Showcase-Mayday-Weddings {
    grid-column: span 5 / -4;
  }
}

/* JOURNAL LIST --- JOURNAL LIST --- JOURNAL LIST --- JOURNAL LIST --- JOURNAL LIST */

.journal-list-wrapper {
  display: grid;
  grid-template-columns: subgrid;
}

.journal-list {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 5rem;
}

.journal-item {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  display: grid;
  grid-template-columns: subgrid;
}

.journal-item-layout {
  grid-column: var(--site-grid-full-width-start) /
    var(--site-grid-full-width-end);
  display: grid;
  gap: var(--content-gap);
  grid-template-columns: subgrid;
}

.journal-item-layout > * {
  grid-column: var(--site-grid-content-start) / var(--site-grid-content-end);
}

.journal-item-excerpt {
  display: flex;
  flex-direction: column;
  row-gap: var(--content-gap);
}

a.journal-item-excerpt {
  background-color: transparent;
  transition: background var(--time-snappy) ease;
}

a.journal-item-excerpt:hover {
  background-color: var(--bg-alt);
}

.journal-item-layout .journal-item-metadata {
  grid-column: var(--site-grid-gutter-left-start) /
    var(--site-grid-gutter-left-end);
  /*grid-row: span 3;*/
  gap: calc(var(--content-gap) * 0.5);
}

.journal-item-metadata > p:first-child {
  font-weight: 500;
}

.journal-item-layout .journal-item-cta {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}
